<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12">
		<p>Place holder for an image and/or project</p>
		<img src="http://placehold.it/350x350">
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<p>Place holder for an image and/or project</p>
		<img src="http://placehold.it/350x350">	
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<p>Place holder for an image and/or project</p>
		<img src="http://placehold.it/350x350">
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12">
		<p>Place holder for an image and/or project</p>
		<img src="http://placehold.it/350x350">
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<p>Place holder for an image and/or project</p>
		<img src="http://placehold.it/350x350">	
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<p>Place holder for an image and/or project</p>
		<img src="http://placehold.it/350x350">
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12">
		<p>Place holder for an image and/or project</p>
		<img src="http://placehold.it/350x350">
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<p>Place holder for an image and/or project</p>
		<img src="http://placehold.it/350x350">	
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<p>Place holder for an image and/or project</p>
		<img src="http://placehold.it/350x350">
	</div>
</div>